<ion-content class="login-content">

  <div class="background-layer"></div>

  <div class="auth-wrapper animate-fade-in">

    <div class="leather-card">

      <!-- Tornillos decorativos -->
      <span class="rivet top-left"></span>
      <span class="rivet top-right"></span>
      <span class="rivet bottom-left"></span>
      <span class="rivet bottom-right"></span>

      <!-- HEADER -->
      <div class="auth-header">
        <div class="logo-wrapper">
          <img src="assets/img/mi-club-logo.png" alt="Logo Club">
        </div>
        <h1>DAM United F.C</h1>
        <p>Acceso al Estadio</p>
      </div>

      <!-- FORMULARIO -->
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="auth-form">

        <div class="input-group">
          <label>CORREO ELECTRÓNICO</label>
          <div class="input-container">
            <input type="email" formControlName="email" placeholder="ejemplo@futchain.com" class="leather-input" data-test="input-email">
            <ion-icon name="mail-outline"></ion-icon>
          </div>
          <div class="error-msg" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            Introduce un email válido.
          </div>
        </div>

        <div class="input-group">
          <label>CONTRASEÑA</label>
          <div class="input-container">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="••••••" class="leather-input" data-test="input-password">
            <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" (click)="togglePasswordVisibility()" class="eye-icon"></ion-icon>
          </div>
          <div class="error-msg" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <span *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es requerida.</span>
            <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Mínimo 4 caracteres.</span>
          </div>
        </div>

        <div class="form-options">
          <label class="checkbox-container">
            <input type="checkbox" formControlName="rememberMe">
            <span class="checkmark"></span>
            Recordarme
          </label>
          <a class="forgot-link" routerLink="/auth/forgot-password">¿Olvidaste tu contraseña?</a>
        </div>

        <button type="submit" class="gold-button" [disabled]="loginForm.invalid || isLoading" data-test="btn-submit">
          <span *ngIf="!isLoading">INICIAR SESIÓN</span>
          <ion-spinner name="dots" *ngIf="isLoading"></ion-spinner>
        </button>

      </form>

      <!-- FOOTER -->
      <div class="auth-footer">
        <div class="divider"></div>
        <button class="register-btn" routerLink="/auth/register">
          Registrarse en el Club
        </button>
      </div>

    </div>
  </div>

</ion-content>
