<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Nueva Convocatoria</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-segment (ionChange)="segmentChanged($event)" [value]="segmentValue" class="ion-margin-bottom">
    <ion-segment-button value="PARTIDO">
      <ion-label>Partido</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ENTRENAMIENTO">
      <ion-label>Entreno</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="form-container">

    <ion-item class="ion-margin-bottom input-item" *ngIf="segmentValue === 'PARTIDO'">
      <ion-input 
        label="Nombre del Rival" 
        label-placement="stacked" 
        placeholder="Ej: Betis B"
        [(ngModel)]="formData.rival">
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom input-item" *ngIf="segmentValue === 'PARTIDO'">
      <ion-input 
        label="Competición" 
        label-placement="stacked" 
        placeholder="Ej: Liga, Copa, Amistoso..."
        [(ngModel)]="formData.competicion">
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom input-item">
      <ion-input 
        label="Lugar / Campo" 
        label-placement="stacked" 
        placeholder="Ej: Ciudad Deportiva"
        [(ngModel)]="formData.lugar">
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom input-item">
      <ion-input 
        type="date" 
        label="Fecha" 
        label-placement="stacked"
        [(ngModel)]="formData.fecha">
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom input-item">
      <ion-input 
        type="time" 
        label="Hora de inicio" 
        label-placement="stacked"
        [(ngModel)]="formData.hora">
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom input-item">
      <ion-textarea 
        label="Observaciones / Notas" 
        label-placement="stacked" 
        placeholder="Ej: Llevar botas de taco de aluminio, puntualidad..."
        [(ngModel)]="formData.observaciones"
        [rows]="3">
      </ion-textarea>
    </ion-item>

    <ion-button expand="block" 
                color="primary" 
                class="submit-btn ion-margin-top" 
                (click)="createEvent()">
      Crear Evento
      <ion-icon name="checkmark-outline" slot="end"></ion-icon>
    </ion-button>

  </div>

</ion-content>